.card {
    height : 400px;
    margin: auto;
    text-align:center;
    border-width: 2px;
    border-color: lightblue;
}

.card-img-top {
    height : 200px;
    object-fit:cover;
}
.btn {
    width: 100px;
    margin:auto;
    background-color: lightblue;
}

.btn:hover {
    box-shadow: 5px 5px 5px grey;
}

.card:hover {
    box-shadow: 10px 5px 5px grey;
}

@media screen and (max-width:767px) {
    .card {
        width:100%;
        height: auto;
    }
}