<div class="presentation row">
    <div class="image-presentation col-4">
        <img src="../../assets/presentation-anne.jpeg">
    </div>
    <div class="texte-presentation col-md-8">
        <p>Infirmière puéricultrice depuis plus de 30 ans, j’ai travaillé dans 
        divers domaines de la petite enfance tels que : crèches, PMI (Protection Maternelle et Infantile),
        milieu du handicap avec suivi des bébés vulnérables.</p>
        <p>Ces expériences et mes formations initiales et continues 
        me permettent de vous accompagner de manière individualisée 
        dans votre parentalité.</p>
        <p>Avec bienveillance, écoute et respect, je peux vous aider à trouver ensemble les solutions afin de renforcer vos compétences parentales.
        Je m'ajuste à vous et votre famille et mets à votre disposition mon expertise afin que vous puissiez vous épanouir pleinement dans votre rôle de parents et vous adapter à votre enfant.
        </p>
        <p>
        Les accompagnements proposés ne se substituent pas à un suivi médical.
        </p>
    </div>
    
</div>
