<div class="container">
    <p>Infirmière puéricultrice depuis plus de 30 ans, j'ai travaillé dans divers 
    domaines de la petite enfance : crèches, PMI, milieu du handicap avec suivi
    de bébés vulnérables. </p>
    <p>Ces expériences et mes formations me permettent de vous accompagner de 
    manière individualisée dans votre parentalité.</p>
    <p>Avec bienveillance, écoute et respect, je peux vous aider à trouver ensemble
    les solutions, afin de renforcer vos compétences parentales.</p>
    <p>Je m'adapte à vous et votre famille et mets à votre disposition mon 
    expertise, afin que vous puissiez vous épanouir pleinement dans votre rôle de 
    parents et vous adapter à votre enfant.</p>
</div>
