/* Afficher l'image en bloc lorsque l'écran a une largeur inférieure ou égale à 768px */
@media screen and (max-width: 768px) {
  .image-presentation {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  .image-presentation img {
    display: block;
    width: 100%;
    height: auto;
  }
}

/* Afficher l'image en ligne lorsque l'écran a une largeur supérieure à 768px */
@media screen and (min-width: 769px) {
  .image-presentation {
    display: inline-block;
    width: 40%;
    vertical-align: top;
  }

  .texte-presentation {
    display: inline-block;
    width: 60%;
    vertical-align: top;
  }

  .image-presentation img {
    width: 100%;
    height: auto;
  }
}
