.formulaire-contact {
    width: 75%;
    margin: auto;
}

.contact {
    width: 75%;
    margin: auto;
    border: solid lightblue;
    border-radius: 10px;

}

.form-group {
    margin: 10px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

.rayon {
    width: 40%;
    margin: auto;
}

img {
    object-fit: scale-down;
    width: 100%;
    margin: auto;
}