<div ngClass="container"> 
    Deux façons de faire :
    <ol>
        <li>Un formulaire de contact (ça prendra plus de temps), mais ça fait plus pro <br>
            Avantages de cette méthode :
            <ul>
                <li>ça fait plus pro</li>
                <li>Tu risques moins de te faire "voler" tes coordonnées, donc de te faire spammer</li>
            </ul>
            Inconvénients :
            <ul>
                <li>ça prend du temps</li>
                <li>Je ne sais pas encore comment faire ça</li>
            </ul>
            Je peux quand même te montrer à quoi ça ressemblerait sur ton site.
        </li>
        <li>Juste tes coordonnées de contact</li>
    </ol>
</div>