<div class="contact">
    <h2>Contact</h2>
    <h3>Rayon d'action :</h3>
    <div class="rayon">
        <iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" sandbox="allow-forms allow-scripts allow-same-origin" src="https://www.geoportail.gouv.fr/embed/visu.html?c=-4.60683493928691,48.48443387383574&z=11&v0=PLAN.IGN::GEOPORTAIL:GPP:TMS(1;s:standard)&l1=Voiture$GEOPORTAIL:GPP:Isocurve-1680704799719(0.9)&permalink=yes" allowfullscreen></iframe>
    </div>
    <h3>Adresse e-mail</h3>
    <p><a href="mailto:anne.parentalite@gmail.com">anne.parentalite@gmail.com</a> </p>
    <h3>Numéro de téléphone</h3>
    <p>07 69 60 62 62</p>
</div>