body {
  background-image: url("assets/Fond-Anne.jpg") ;
  font-size: large;
  width: fit-content;
}
h1 {
  font-size: xxx-large;
}

.fullpage{
  min-height: fit-content;
  position: relative;
}

.active-link {
  font-weight: bold;
  border : 2px solid black;
}

@media screen and (min-width:500px) {
  body {
    width:auto;
  }

}